body{
  background-color: #f1f3f4;
}
.socialicon{
  height:64px;
  width: 64px;
}
.socialrow{
  margin: 0 auto;
  display: block;
  width: 200px;
  margin-bottom: 15px;
}
h2{
  font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.20em;
      font-weight: 400;
      color: #0b0d0f;
      margin-top: 15px;
      font-size: 3em;
}
p{
  font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.25em;
      font-weight: 400;
      color: #0b0d0f;
      margin-top: 15px;
      margin-bottom: 15px;
}

#innerBlock{
  outline: 1px solid #0b0d0f;
  outline-offset: 10px;
  background-color: #c8cfd6;
  z-index: 0;
  height: auto;
}
#parent{
  margin-top: 17%;
}
