#containerbanner{
  z-index: 0;
  overflow: hidden;
  height: auto;
}
#profileimg{
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

.maroontxt{
  color: #611427;
}
#bannertxt{
  padding-left: 7%;
}
#about{
  display: block;
  clear: both;
  position: relative;
  border-top: 5px;
  border-color: #1D2326;
}

.clearfix{
  overflow: auto;
}
.banner{
  z-index: 2;
  min-width: 100%;
  height:40%;
  margin-top: 4%;
  left:0;
  right:0;
  position: absolute;

}
body{
  margin: 0 !important;
  padding: 0 !important;
}
#bannertxt > h1 {
  font-family: 'Roboto Condensed';
  font-size: 7em;
  letter-spacing: 3px;
  color: #1D2326;
  text-align: center;
}

#bannertxt > h2{
font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 1.1em;
  text-align: center;
  margin-top: 0px !important;
  word-spacing: -1px !important;
}

p{
  font-family: 'Open Sans', sans-serif;
}



/* Phones */

/* Portrait */
@media only screen and (max-width: 767px) {
    #bannertxt > h1{ font-size: 2em;}
    #bannertxt > h2{ font-size: 0.5em;}
    #profile{width: 110% !important;}
    #bannertxt{  padding-left: 0%;  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  #bannertxt > h1{ font-size: 3.5em; margin-top: 20%; text-align: right;}
  #bannertxt > h2{ visibility: hidden;}
  #profile{width: 110% !important;}
  #profileimg{ height: 40%; width: auto; margin-left: -200px;}
  #bannertxt{  padding-left: 0%;  }
}
